SECRET_KEY= "2333"
ALGORITHM="HS256"
ACCESS_TOKEN_EXPIRE_MINUTES = 1
ORGANISATION_TOKEN_EXPIRE_DAYS = 1

SQLALCHEMY_DATABASE_URL = "postgresql://postgres:postgres@localhost:5432/dbname"

DEBUG=True

DATABASE_NAME=dbname
DATABASE_USER=postgres
DATABASE_PASSWORD=postgres
DATABASE_PORT=5432
DATABASE_HOST=localhost

CORE_CONSUMER_API_URL=http://127.0.0.1:8001
FRONTEND_URL=http://localhost:3000



SENTRY_DSN = "https://sentry.io/your-dsn"
CHAT_API_BASE_URL = "http://127.0.0.1:8000/"




AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY="www"
AWS_STORAGE_BUCKET_NAME="2424"
AWS_PRESIGNED_EXPIRY=500
AWS_S3_SIGNATURE_VERSION='s3v4'
AWS_S3_REGION_NAME="us-west-1"
AWS_S3_CUSTOM_DOMAIN=${AWS_STORAGE_BUCKET_NAME}.s3.amazonaws.com
FILE_MAX_SIZE=10485760

DATABASE_URL=SQLALCHEMY_DATABASE_URL
REDIS_URL=redis://localhost:6379/0





PAYSTACK_LIVE_MODE=False

#PAYSTACK TEST
PAYSTACK_TEST_SECRET_KEY=2424
PAYSTACK_TEST_PUBLIC_KEY=13


#PAYSTACK LIVE
PAYSTACK_LIVE_SECRET_KEY=s23

PAYSTACK_LIVE_PUBLIC_KEY=24


PAYSTACK_BASE_URL=https://api.paystack.co
PAYSTACK_VALID_IP_ADDRESSES='52.31.139.75, 52.49.173.169, 52.214.14.220'
PAYSTACK_TEST_MOBILE_NUMBER=0551234987


